body {
    font-family: 'Work Sans', sans-serif;
    background-color: #333;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

/* Alert */
.custom-alert-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.custom-alert {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    max-width: 300px;
    text-align: center;
}

.custom-alert-message {
    font-size: 18px;
    margin-bottom: 20px;
    color: #333;
}

.custom-alert button {
    padding: 10px 20px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    outline: none;
}

.custom-alert button:hover {
    background: #0056b3;
}

/* Styles for Navbar */
.heading {
    background-color: #007bff;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.heading-title {
    font-size: 24px;
    margin: 0 10px;
    margin-right: 20px;
}

.heading-search {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin: 0 100px;
}

.heading-search input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 16px;
    outline: none;
    flex-grow: 1;
}

.heading-search button[type="submit"] {
    padding: 10px 20px;
    background-color: #0056b3;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    outline: none;
}

.heading-search button[type="submit"]:hover {
    background-color: #004288;
}

.version {
    font-size: 16px;
    margin: 0 10px;
    margin-left: 20px;
}


/* Add Note */
.add-note {
    background-color: #f3f3f3;
    border-radius: 5px;
    padding: 25px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin: 15px 5%;
}

.add-note__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-note__form {
    flex: 1;
    margin-right: 45px;
}

.add-note__instructions {
    flex: 2;
}

.add-note__title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.add-note__note-input {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.add-note input[type="text"],
.add-note textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
    /* Pastikan padding tidak menambah lebar */
}

.add-note button[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    outline: none;
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
    /* Pastikan padding tidak menambah lebar */
}

.add-note button[type="submit"]:hover {
    background-color: #0056b3;
}

.add-note__header {
    display: flex;
    align-items: center;
    /* Mengatur elemen dalam satu baris */
}

.add-note__error {
    color: red;
    /* margin-left: 10px; */
    margin-top: 10px;
    text-align: center;
}

/* Note List */
.active-title,
.archive-title {
    background-color: #f3f3f3;
    margin: 0 5%;
    margin-top: 25px;
    padding-top: 25px;
    padding-left: 25px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    color: #333;
}

.note-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
    padding: 25px;
    background-color: #f3f3f3;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2);
    margin: 0 5%;
}

.note-item {
    flex: 1;
    min-width: calc(25% - 20px);
    /* Mengatur lebar minimum untuk 4 catatan dalam satu baris */
    padding: 25px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.3s;
}

.note-item:hover {
    background-color: #f3f3f3;
    transform: translateY(-5px);
}

/* Note Body */
.note-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

.note-text {
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 10px;
    color: #555;
}

.note-footer {
    font-size: 14px;
    color: #777;
    margin: 10px 0;
}

.note-footer p {
    margin: 0;
}

.actions {
    gap: 10px;
    margin: 10px 0;
}

.action-archive {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 5px;
}

.action-delete {
    padding: 5px 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 5px;
}

.action-archive:hover {
    background-color: #0056b3;
}

.action-delete:hover {
    background-color: rgb(167, 6, 6);
}


/* Responsive Design */
@media (max-width: 768px) {

    h1 {
        font-size: 16px;
        margin-bottom: 15px;
    }

    h2 {
        font-size: 14px;
        margin-bottom: 8px;
    }

    .custom-alert-message {
        font-size: 16px;
        margin-bottom: 15px;
    }

    .heading-search input[type="text"] {
        margin-right: 5px;
    }

    .heading-search button[type="submit"] {
        margin-right: 0;
    }

    .add-note input[type="text"],
    .add-note textarea {
        padding: 8px;
    }

    .add-note button[type="submit"] {
        padding: 8px 16px;
        font-size: 14px;
    }

    .add-note__title,
    .add-note__error {
        font-size: 12px;
        margin-bottom: 10px;
    }

    .note-item {
        margin-bottom: 15px;
    }

    .add-note__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .add-note__form {
        margin-right: 10px;
        font-size: 12px;

    }

    .add-note__instructions {
        font-size: 12px;
    }

    .heading-search {
        display: flex;
        align-items: center;
        flex-grow: 1;
        margin: 0;
    }

    .note-title {
        font-size: 14px;
        margin-bottom: 8px;
    }

    .note-text {
        font-size: 12px;
        line-height: 1.4;
        margin-bottom: 10px;
    }

    .note-list {
        flex-direction: column;
        align-items: center;
    }

    .note-item {
        padding: 5px;
        flex: 1;
        margin-bottom: 15px;
    }

}

@media (max-width: 1024px) {
    h1 {
        font-size: 32px;
    }
}